.app {
  text-align: center;
  background-color: var(--brand);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog {
  width:         var(--dialog-width);
  height:        var(--dialog-height);
  background:    var(--other);
  padding:       var(--space-large);
  border-radius: var(--radius);
  box-sizing:    border-box;
}