.Generator {
  width:         var(--dialog-width);
  height:        var(--dialog-height);
  background:    var(--other);
  padding:       var(--space-large);
  border-radius: var(--radius);
  box-sizing:    border-box;
}

.header {
  
}